@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: #2d2d2d;
    color: white;
}

#bg-image {
    position: fixed;
    inset: 0;
    background: url("https://picsum.photos/4096/2160?grayscale");
    background-position: center;
    background-size: cover;
    z-index: -1;

    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0) 100%
    );

    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0) 100%
    );
}

.archivo-black-bold {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 52px;
}